@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Lato", sans-serif;
}
.no-arrow {
  appearance: none;
  -webkit-appearance: none; /* For WebKit browsers */
  -moz-appearance: none; /* For Firefox */
  background-image: none; /* Removes the arrow in most browsers */
}
